//Footer
.da-footer {
    grid-area: da-footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #fff;

    &__copyright {
        display: flex;
        margin: 0;
        padding: 0 1.25rem 0 0;
        font-size: .9rem;
        font-weight: 400;
        justify-content: flex-start;
        color: #74788d;
    }

    &__version {
        display: flex;
        justify-content: flex-end;
        padding: 0 0 0 0.75rem;
        font-size: .9rem;
        font-weight: 400;
        margin: 0;
        color: #74788d;
    }
}
