// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: .95rem;
$line-height-base: 1.6;

//Height
$height-header: 75px;
$height-footer: 50px;

//Width
$width-sidebar: 240px;

//Sidebar
$bg-sidebar: #242939;

//Backgrounds
$bg-body: #f2f3f8;
$bg-header: #FFF;

//Colors
$color-body: #646c9a;
$color-primary: #5867dd;
$color-secundary: #d3dae6;
$color-danger: #fd3939;
$color-warning: #ffb822;
$color-success: #18a496;
